@import "../index.css";
.universalButton {
  /* Estilos para el botón de inicio de sesión */
  width: 90%;
  height: 42px;
  border-radius: 12px;
  background-color: var(--secondary-color);
  border: none;
  color: var(text-color);
}

.universalInput {
  /* Estilos para el campo de correo electrónico */
  width: 90%;
  height: 42px;
  border-radius: 12px;
  background-color: transparent;
}

.buttonDark{
  background-color: var(--first-color-dark);
}

input {
  text-indent: 12px;
  columns: var(text-color);
}
