/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: 'AdigianaUI';
  src: url('../src/fonts/AdigianaUI.ttf') format('opentype');
}

*{
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root{
 
  --first-color:#FDF5D8;
  --first-color-dark: #CF8193;
  --first-color-light: #F3C2D0;
  --secondary-color: #FCE64D;
  --optional-color: #C27BBE;

  --text-color: #6E4139;
  --text-color-light: #fff;
  --body-font: "Poppins", sans-serif;


  --main-font: "AdigianaUI"
}

body{
  background-image: url("/src/assets/Green\ Watercolor\ Mountains\ Desktop\ Wallpaper\ \(4\).png");
}
#root{
  width: 100%;
    height: 100%;
}